@font-face {
  font-family: GothamRounded;
  src: url(Gotham-Rounded-Medium_21022.ttf);
}

@font-face {
  font-family: GothamRounded;
  src: url(Gotham-Rounded-Bold_21016.ttf);
  font-weight: bold;
}

@font-face {
  font-family: GothamRounded;
  src: url(Gotham-Rounded-Light_21020.ttf);
  font-weight: lighter;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "GothamRounded", Helvetica, Arial, sans-serif;
  height:100%;
}

/* welcome */

.welcome {
  height:100%;
  margin: 0;
}

.welcome-header {
  background-color: #FFDF81;
  width: 100%;
  height: 100%;
}

.welcome-body {
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  padding: 40px 35px 20px 35px;
}

.welcome h1 {
  font-size: 20px;
  text-align: center;
}

.welcome p {
  font-size: 13px;
  text-align: center;
  color: #A0A0A0;
}

.welcome .hr {
  background-color: #FAFAFA;
  height: 2px;
  margin: 30px 80px 30px 80px;
}

.welcome .login {
  color: white;
  background-color: #707BE0;
  padding: 13px;
  border-radius: 5px;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
}


/* quotes */

.quotes .quote {
  display: block;
  padding: 0;
  margin-bottom: 8px;
  height: 250px;
  color: white;
  position: relative;
}

.quotes .quote:nth-child(3n+1) {
  background-color: #71D6E0;
}

.quotes .quote:nth-child(3n+2) {
  background-color: #FFB8CB;
}

.quotes .quote:nth-child(3n+3) {
  background-color: #FFDF81;
}

.quotes .quote p {
  text-align: center;
  margin: 0;
  padding: 50px 40px 10px 40px;
  font-size: 25px;
  line-height: 1.5em;
}

.quotes .quote .who {
  text-align: center;
  margin: 0;
  padding: 10px 10px;
  font-size: 12px;
}

.quotes .quote .vote {
  float: right;
  text-align: center;
  margin: 0;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 6px 6px 5px 6px;
  color: white;
}

.quotes .quote .active {
  background-color: white;
  color: #C5C5C5;
}

.quotes .addbtn {
  float: right;
  text-align: center;
  margin: 0;
  /*background-color: rgba(255, 255, 255, 0.7);*/
  background-color: rgba(237, 237, 237, 0.78);
  border-radius: 8px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  color: white;
  border-radius: 40px;
  font-size: 46px;
}

.quotes .logout {
  float: left;
  text-align: center;
  margin: 0;
  /*background-color: rgba(255, 255, 255, 0.7);*/
  background-color: rgba(237, 237, 237, 0.78);
  border-radius: 8px;
  position: fixed;
  bottom: 15px;
  left: 15px;
  width: 50px;
  height: 50px;
  color: white;
  border-radius: 40px;
  font-size: 46px;
}

/* who */

.who {
  padding-top: 60px;
}


.who h2 {
  background-color: #F1FBFC;
  color: #A3E4EA;
  width: 98%;
  text-transform: uppercase;
  font-size: 10px;
  padding: 5px 10px;
  margin: 0;
}


/* create */

.create {
  padding-top: 60px;
}

.create .groupname {
  padding: 15px 0;
  margin: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
  border: 0;
  border-radius: 3px;
  font-size: 20px;
}

/* user */

.search {
  margin: 5px;
  padding: 5px;
  width: 95%;
  background-color: #F3F3F3;
  color: #BDBDBD;
  text-align: center;
  border: 0;
  border-radius: 3px;
}

.user {
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  font-weight: bold;
  border-bottom: 2px #FAFAFA solid;
}

.user img {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 40px;
}

.user .name {
  position: relative;
  top: -25px;
}


.user .check {
  float: right;
  top: 16px;
  position: relative;
  background-color: #E2F7F9;
  color: white;
  padding: 6px;
  border-radius: 8px;
}

.user .active {
  background-color: #71D6E0;
}


/* */

.toolbar {
  clear: both;
  height: 40px;
  padding-top: 20px;
  background-color: #71D6E0;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.toolbar a, .toolbar a:hover, .toolbar a:visited {
  width: 15%;
  color: white;
  text-decoration: none;
  font-size: 16px;
  margin-top: 9px;
  font-size: 23px;
  font-weight: lighter;
  text-align: center;
}

.toolbar .left, .toolbar .back {
  float: left;
}

.toolbar .right, .toolbar .next {
  float: right;
}
.toolbar div {
  width: 60%;
  text-align: center;
  margin-top: 10px;
  float: left;
}

.add {
  background-color: #71D6E0;
  height: 100%;
}

.add textarea {
  width: 80%;
  margin-top: 70px;
  margin-left: 10%;
  height: 200px;
  background-color: transparent;
  color: white;
  text-align: center;
  border: 0;
  font-size: 26px;
  font-weight: lighter;
  font-family: "GothamRounded", Helvetica, Arial, sans-serif;

  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.add textarea::-webkit-input-placeholder { /* WebKit browsers */
  color: rgba(255, 255, 255, 0.56);
}
.add textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: rgba(255, 255, 255, 0.56);
  opacity:  1;
}
.add textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: rgba(255, 255, 255, 0.56);
 opacity:  1;
}
.add textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: rgba(255, 255, 255, 0.56);
}


/** groups **/

.groups {
  margin-top: 60px;
  padding: 0 20px;
}

.groups .group {
  border-bottom: 2px #FAFAFA solid;
  padding: 20px 0;
  height: 50px;
}

.groups .name {
  font-weight: bold;
  display: block;
}

.groups .group-list {
  font-size: 12px;
  color: #929292;
}

.groups .group .image {
  float: left;
  border: 4px solid #71D6E0;
  border-radius: 53px;
  padding: 4px;
  margin-right: 10px;
}
.groups .group:nth-child(3n+2) .image {
  border-color: #71D6E0;
}

.groups .group:nth-child(3n+3) .image {
  border-color: #FFB8CB;
}

.groups .group:nth-child(3n+4) .image {
  border-color: #FFDF81;
}


.groups .group .image-margin {
  border-radius: 45px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  margin: 2px;
}

.groups .group .image-margin.image-nb-2 img:nth-child(1) {
  margin-left: -50%;
}
.groups .group .image-margin.image-nb-2 img:nth-child(2) {
  margin-right: -50%;
}

.groups .group .image-margin.image-nb-3 img:nth-child(1),
.groups .group .image-margin.image-nb-3 img:nth-child(2) {
  width: 50%;
}

.groups .group .image-margin.image-nb-4 img {
  width: 50%;
}

.groups .create-body a.create {
  text-align: center;
  width: 100%;
  display: block;
}

.groups a.create, .groups a.create:hover, .groups a.create:visited {
  color: #71D6E0;
  text-decoration: none;
  font-size: 16px;
}
